<!--<!DOCTYPE html>-->
<!--<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->
<!--	<head>-->
<!--		<div th:replace="~{fragment :: meta}"></div>-->
		
<!--		<div th:replace="~{fragment :: styles}"></div>-->
		
<!--		<title>店舗一覧</title>-->
<!--	</head>-->
<!--	<body>-->
<!--		<div>-->
<!--			<div th:replace="~{fragment :: header}"></div>-->
<!--			<main>-->
<!--				<div class="container pb-5 nagoyameshi-container">-->
<!--					<div class="row justify-content-center">-->
<!--						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">-->
<!--							<ol class="breadcrumb">-->
<!--								<li class="breadcrumb-item"><a th:href="@{/}">トップページ</a></li>-->
<!--								<li class="breadcrumb-item active" aria-current="page">店舗一覧</li>-->
<!--							</ol>-->
<!--						</nav>-->
						
<!--						<div class="col-xl-3 col-lg-4 col-md-12">-->
<!--							<form method="get" th:action="@{/restaurants}" class="w-100 mb-3">-->
<!--								<div class="input-group">-->
<!--									<input type="text" class="form-group" name="keyword" th:value="${keyword}" placeholder="店舗名・カテゴリー">-->
<!--									<button type="submit" class="btn text-white nagoyameshi-btn"></button>-->
<!--								</div>-->
<!--							</form>-->
							
<!--							<div class="card mb-3">-->
<!--								<div class="card-header">-->
<!--									カテゴリーから探す-->
<!--								</div>-->
<!--								<div class="card-body">-->
<!--									<form method="get" th:action="@{restaurants}" class="w-100">-->
<!--										<div class="form-group mb-3">-->
<!--											<select class="form-control form-select" name="category">-->
<!--												<option value="" hidden>選択してください</option>-->
<!--												<option value="1">焼肉</option>-->
<!--												<option value="2">ラーメン</option>-->
<!--												<option value="3">鉄板料理</option>-->
<!--												<option value="4">居酒屋</option>-->
<!--												<option value="5">イタリアン</option>-->
<!--												<option value="6">中華料理</option>-->
<!--												<option value="7">日本料理</option>-->
<!--												<option value="8">フレンチ</option>-->
<!--												<option value="9">韓国料理</option>-->
<!--												<option value="10">カフェ</option>-->
<!--												<option value="11">鍋料理</option>-->
<!--												<option value="12">名古屋名物</option>-->
<!--												<option value="13">その他</option>-->
<!--											</select>-->
<!--										</div>-->
										
<!--										<div class="form-group">-->
<!--											<button type="submit" class="btn text-white nagoyameshi-btn w-100"></button>-->
<!--										</div>-->
<!--									</form>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
						
<!--					</div>-->
<!--				</div>-->
<!--			</main>-->
<!--			<div th:replace="~{fragment :: footer}"></div>-->
<!--		</div>-->
<!--		<div th:replace="~{fragment :: scripts}"></div>-->
<!--	</body>-->
<!--</html>-->