<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<div th:replace="~{fragment::meta}"></div>
		
		<div th:replace="~{fragment::styles}"></div>
		
		<title>ログイン</title>
	</head>
	<body>
		<!-- ヘッダー-->
		<div class="nagoyameshi-wrapper">
			<header>
				<nav class="container nagoyameshi-container">
					<div class="navbar navbar-expand-md navbar-light nagoyameshi-navbar">
						<a class="navbar-brand" >
							<img class="nagoyameshi-logo" th:src="@{/images/logo.png}" alt="NAGOYAMESHI">
						</a>
					</div>
				</nav>
			</header>
			<main>
				<div class="container pt-4 pb-5 nagoyameshi-container">
					<div class="row justify-content-center">
						<div class="col-xl-3 col-lg-4 col-md-5 col-sm-7">
							<h1 class="mb-4 text-center">ログイン</h1>
							
							<div th:if="${param.error}" class="alert alert-danger">
								メールアドレスまたはパスワードが正しくありません。
							</div>
							
							<form th:action="@{/login}" method="post">
								<div class="form-group mb-3">
									<input type="text" class="form-control" name="username" autocomplete="email" placeholder="メールアドレス" autofocus>
								</div>
								<div class="form-group mb-3">
									<input type="password" class="form-control"name="password" autocomplete="new-password" placeholder="パスワード">
									<div id="passwordHelpBlock" class="form-text">
										パスワードは半角英数字、記号合わせて8文字以上25文字以内で入力お願いします。<br>絵文字は入力しないでください。
									</div>
								</div>
								<div class="form-group d-flex justify-content-center my-4">
									<button type="submit" class="btn text-white w-100 nagoyameshi-btn">ログイン</button>
								</div>
							</form>
							<div class="text-center">
								<a th:href="@{/signup}">
									会員登録
								</a>
							</div>
						</div>
					</div>
				</div>
			</main>
			<!-- フッター-->
			<div th:replace="~{fragment::footer}"></div>
		</div>
		<div th:replace="~{fragment::scripts}"></div>
	</body>
</html>