<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<div th:replace="~{fragment::meta}"></div>
		<div th:replace="~{fragment::styles}"></div>
		
		<title>ログイン</title>
	</head>
	<body>
		<!-- ヘッダー-->
		<div class="nagoyameshi-wrapper">
			<div th:replace="~{fragment::header}"></div>
			<main>
				<div class="container pt-4 pb-4 nagoyameshi-container">
					<div class="search-group">
						<h2 class="mb-3">キーワードから探す</h2>
						<form>
							<div class="input-group">
								<input type="text" class="form-control" placeholder="店舗名・エリア・カテゴリ" name="keyword">
								<button type="submit" class="btn btn-primary text-white">検索</button> 
							</div>
						</form>
					</div>
					<div class="categoty-group">
						<h2 class="mb-3">カテゴリーから探す</h2>
						
					</div>
				</div>
			</main>
			<!-- フッター-->
			<div th:replace="~{fragment::footer}"></div>
		</div>
		<div th:replace="~{fragment::scripts}"></div>
	</body>
</html>